// ===============
// colors palette
// ===============
:root {
  --white-color: #fff;
  --black-color: #212529;
  --accent-color: #1774C9;
  --accent-hover-color: #0E61AE;
  --accent-light-color: #E7F1F8;
  --green-accent-color: #0FBC2E;
  --green-color: #0DBC2E;
  --green-light-color: #F5FBF6;
  --grey-light-color: #E2E2E2;
  --grey-color: #666666;
  --grey-dark-color: #262F40;
  --red-color: #FF0000;
  --stroke-color: #E2E2E2;
  --plate-bg-color: #F5F5F5;
}
