// ===============
// colors palette
// ===============
:root {
  --white-color: #fff;
  --white-color-80: #FFFFFFCC;
  --white-color-70: #ffffffb3;
  --black-color: #212529;
  --accent-color: #1774C9;
  --accent-hover-color: #0E61AE;
  --accent-light-color: #E7F1F8;
  --green-accent-color: #0FBC2E;
  --green-color: #0DBC2E;
  --green-light-color: #F5FBF6;
  --grey-light-color: #E2E2E2;
  --grey-color: #666666;
  --grey-color-50: rgba(102, 102, 102, 0.5);
  --grey-dark-color: #262F40;
  --red-color: #FF0000;
  --stroke-color: #E2E2E2;
  --plate-bg-color: #F5F5F5;
  --plate-bg-color-50: #F5F5F5CC;
  --modal_bg: #66666666;
  --disabled-color: #AFAFAF;
  --yellow-color: #FEEB45;
}
