// Заголовки, общие БЄМ блоки и прочее...
@use "base/mixins";
@use "sass:math";

@use "variables";

// Заголовки, общие БЄМ блоки и прочее...
img {
  width: auto;
  height: auto;
  max-width: 100%;
}

[hidden] {
  display: none !important;
}

._md0dn {
  @media (width < #{mixins.toEm(1500)}){
    display: none !important;
  }
}

._mmd0dn {
  @media (width >= #{mixins.toEm(1500)}){
    display: none !important;
  }
}
._md1dn {
  @media (width < #{mixins.toEm(variables.$pc)}){
    display: none !important;
  }
}

._mmd1dn {
  @media (width >= #{mixins.toEm(variables.$pc)}){
    display: none !important;
  }
}

._md2dn {
  @media (width < #{mixins.toEm(variables.$tablet)}){
    display: none !important;
  }
}

._mmd2dn {
  @media (width >= #{mixins.toEm(variables.$tablet)}){
    display: none !important;
  }
}

._md3dn {
  @media (width < #{mixins.toEm(variables.$mobile)}){
    display: none !important;
  }
}

._mmd3dn {
  @media (width >= #{mixins.toEm(variables.$mobile)}){
    display: none !important;
  }
}

._md4dn {
  @media (width < #{mixins.toEm(variables.$mobileSmall)}){
    display: none !important;
  }
}

._mmd4dn {
  @media (width >= #{mixins.toEm(variables.$mobileSmall)}){
    display: none !important;
  }
}

._pen {
  pointer-events: none;
}

._skeleton {
  overflow: hidden;
  position: relative;
  pointer-events: none;
  >* {
    position: relative;
    z-index: 1;
  }

  &::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
    z-index: 2;
    opacity: var(--opacity, 1);
  }
  
  &::after{
    content:'';
    position: absolute;
    top: -5%;
    left: calc(100% + mixins.toRem(60));
    width: mixins.toRem(40);
    height: 110%;
    rotate: 15deg;
    background-color: #fff;
    box-shadow: 0px 0px mixins.toRem(10) mixins.toRem(10) rgba(255, 255, 255, 1);
    z-index: 3;
    opacity: 0.4;
    animation: skeletonAfterAnim 1s ease infinite;
  }
}

@keyframes skeletonAfterAnim {
  from {
      left: -3.75rem
  }
}



::-webkit-scrollbar {
  width: mixins.toRem(5);
  background-color: var(--plate-bg-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: mixins.toRem(5);
}