// Заголовки, общие БЄМ блоки и прочее...
@use "base/mixins";
@use "sass:math";

@use "variables";

// Заголовки, общие БЄМ блоки и прочее...
img {
  width: auto;
  height: auto;
  max-width: 100%;
}

[hidden] {
  display: none !important;
}

._md0dn {
  @media (width < #{mixins.toEm(1500)}){
    display: none !important;
  }
}

._mmd0dn {
  @media (width >= #{mixins.toEm(1500)}){
    display: none !important;
  }
}
._md1dn {
  @media (width < #{mixins.toEm(variables.$pc)}){
    display: none !important;
  }
}

._mmd1dn {
  @media (width >= #{mixins.toEm(variables.$pc)}){
    display: none !important;
  }
}

._md2dn {
  @media (width < #{mixins.toEm(variables.$tablet)}){
    display: none !important;
  }
}

._mmd2dn {
  @media (width >= #{mixins.toEm(variables.$tablet)}){
    display: none !important;
  }
}

._md3dn {
  @media (width < #{mixins.toEm(variables.$mobile)}){
    display: none !important;
  }
}

._mmd3dn {
  @media (width >= #{mixins.toEm(variables.$mobile)}){
    display: none !important;
  }
}

._md4dn {
  @media (width < #{mixins.toEm(variables.$mobileSmall)}){
    display: none !important;
  }
}

._mmd4dn {
  @media (width >= #{mixins.toEm(variables.$mobileSmall)}){
    display: none !important;
  }
}

._pen {
  pointer-events: none;
}

._skeleton {
  overflow: hidden;
  position: relative;
  pointer-events: none;
  >* {
    position: relative;
    z-index: 1;
  }

  &::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
    z-index: 2;
    opacity: var(--opacity, 1);
  }
  
  &::after{
    content:'';
    position: absolute;
    top: -5%;
    left: calc(100% + mixins.toRem(60));
    width: mixins.toRem(40);
    height: 110%;
    rotate: 15deg;
    background-color: #fff;
    box-shadow: 0px 0px mixins.toRem(10) mixins.toRem(10) rgba(255, 255, 255, 1);
    z-index: 3;
    opacity: 0.4;
    animation: skeletonAfterAnim 1s ease infinite;
  }
}

@keyframes skeletonAfterAnim {
  from {
      left: -3.75rem
  }
}



::-webkit-scrollbar {
  width: mixins.toRem(4);
  height: mixins.toRem(4);
  background-color: var(--plate-bg-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: mixins.toRem(5);
}

.productslider {
  @include mixins.adaptiveValue("padding-top", 60, 30);
  @include mixins.adaptiveValue("padding-bottom", 60, 30);

  &__container {
  }

  &__slider {
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      @include mixins.adaptiveValue("margin-bottom", 40, 24, 992, 360);
    }
  }

  &__title {
    font-weight: 500;
    line-height: 1.2;
    font-size: mixins.toRem(35);
    @media (width < #{mixins.toEm(variables.$pc)}){
      font-size: mixins.toRem(30);
    }
    @media (width < #{mixins.toEm(variables.$mobileSmall)}){
      font-size: mixins.toRem(24);
    }
  }

  &__track {
  }

  &__list {
  }

  &__slide {
  }
}

.product-slide {
  border: mixins.toRem(1) solid var(--stroke-color);
  position: relative;
  border-radius: mixins.toRem(15);
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  
  @include mixins.adaptiveValue("padding", 15, 12, 767, 480);
  
  @media (width < #{mixins.toEm(variables.$tablet)}){
    width: mixins.toRem(206);
  }

  @media (any-hover: hover){
    &:hover{
      .product-slide__quickview {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  &__media {
    position: relative;
    border-radius: mixins.toRem(12);
    overflow: hidden;

    &:not(:last-child) {margin-bottom: mixins.toRem(15);}
  }

  &__image {
    aspect-ratio: 275 / 221;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__tags {
    position: absolute;
    left: 0;
    top: mixins.toRem(5);
    max-height: calc(100% - mixins.toRem(10));
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: mixins.toRem(4);
    flex-wrap: wrap;
  }

  &__tag {
    color: var(--white-color);
    background-color: var(--bgc, var(--accent-color));
    text-transform: uppercase;
    padding: mixins.toRem(2) mixins.toRem(6);
    font-weight: 700;
    font-size: mixins.toRem(12);
    border-radius: mixins.toRem(5);
  }

  &__actions {
    position: absolute;
    top: mixins.toRem(8);
    right: mixins.toRem(8);
    display: flex;
    gap: mixins.toRem(6);
    justify-content: flex-end;
    flex-wrap: wrap;
    max-width: 50%;
    max-height: calc(100% - mixins.toRem(16));
    z-index: 3;

    @media (width <= #{mixins.toEm(variables.$mobile)}){
      top: mixins.toRem(6);
      right: mixins.toRem(6);
    }
  }

  &__action {
    width: var(--width);
    height: var(--width);
    flex: 0 0 var(--width);
    background-color: var(--white-color-80);
    display: flex;
    justify-content:center;align-items: center;
    backdrop-filter: blur(mixins.toRem(4));
    border-radius: mixins.toRem(6);

    @include mixins.adaptiveValue("--width", 38, 34, 1280, 480);

    &._active {
      [fill] {
        fill: var(--accent-color);
      }
      [stroke] {
        stroke: var(--accent-color);
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    @include mixins.adaptiveValue("gap", 15, 12, 1280, 767);
  }

  &__chapter {
    color: var(--grey-color);

    @include mixins.adaptiveValue("font-size", 14, 13, 1280, 767);
    @container (width <= #{mixins.toEm(220)}){
      font-size: mixins.toRem(12);
    }
  }

  &__name {
    font-weight: 600;
    line-height: 1.2;
    min-height: var(--min-height);

    @include mixins.adaptiveValue("font-size", 16, 15, 1280, 767);
  }

  &__chars {
    background-color: var(--plate-bg-color);
    border-radius: mixins.toRem(10);
    padding-left: mixins.toRem(6);
    padding-right: mixins.toRem(6);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: auto;

    @include mixins.adaptiveValue("padding-top", 10, 8, 1270, 767);
    @include mixins.adaptiveValue("padding-bottom", 10, 8, 1270, 767);

    i {
      font-style: normal;
      font-size: mixins.toRem(12);
      color: var(--grey-color);
    }
    @container (width <= #{mixins.toEm(220)}){
      padding: mixins.toRem(6) mixins.toRem(4);
    }
  }

  &__char {
    font-size: mixins.toRem(14);
    @container (width <= #{mixins.toEm(220)}){
      font-size: mixins.toRem(12);
    }

    span {
      font-size: mixins.toRem(12);
      color: var(--grey-color);
      @container (width <= #{mixins.toEm(220)}){
        font-size: mixins.toRem(9);
      }
    }
  }

  &__prices {
    display: flex;
    align-items: flex-end;
    
    @include mixins.adaptiveValue("gap", 10, 8, 1280, 480);
  }

  &__price {
    font-weight: 700;
    @include mixins.adaptiveValue("font-size", 18, 16, 1270, 767);
  }

  &__oldprice {
    font-weight: 500;
    color: var(--grey-color);
    text-decoration: line-through;
    @include mixins.adaptiveValue("font-size", 14, 13, 1270, 767);
  }

  &__buttons {
    display: grid;
    grid-template-columns: 1fr 1.65fr;
    gap: mixins.toRem(10);
    position: relative;
    z-index: 3;
  }

  &__button {
    display: flex;
    justify-content:center;align-items: center;
    background-color: var(--bgc, var(--accent-color));
    font-size: mixins.toRem(14);
    color: var(--white-color);
    text-align: center;
    padding: mixins.toRem(8) mixins.toRem(6);
    border-radius: mixins.toRem(15);
    font-weight: 600;

    @include mixins.adaptiveValue("height", 50, 46, 1280, 480);

    .loaded & {
      transition: all 0.3s ease 0s;
    }

    &._active {
      background-color: var(--green-color);
    }

    @media (any-hover: hover){
      &:hover{
        background-color: var(--accent-hover-color);
      }
    }
    @container (width <= #{mixins.toEm(220)}){
      font-size: mixins.toRem(11);
    }
  }

  &__quickview {
    height: mixins.toRem(40);
    display: flex;
    justify-content:center;align-items: center;
    border-radius: mixins.toRem(10);
    padding: mixins.toRem(13);
    font-weight: 500;
    font-size: mixins.toRem(12);
    white-space: nowrap;

    .loaded & {
      transition: all 0.3s ease 0s;
    }

    @media (width >= #{mixins.toEm(variables.$mobile)}){
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;

      width: mixins.percent(155,205);
      z-index: 2;
      opacity: 0;
      pointer-events: none;
      background-color: var(--white-color-70);
    }
    @media (width < #{mixins.toEm(variables.$mobile)}){
      grid-column: 1 / span 2;
      background-color: var(--grey-light-color);
    }
  }
}

.form {

  &:has(.form__error) {
    .form__submit {
      pointer-events: none;
      color: var(--disabled-color);
      background-color: var(--grey-light-color);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: mixins.toRem(4);
    position: relative;

    .loaded & {
      transition: padding-bottom 0.3s ease 0s;
    }

    &._form-error {
      &:has(.form__error) {
        padding-bottom: mixins.toRem(21);
      }
    }

    span {
      font-size: mixins.toRem(14);
      line-height: 1.2;
      color: var(--grey-color);
      &:not(:last-child) {margin-bottom: mixins.toRem(4);}
    }

    input, textarea {
      border: mixins.toRem(1) solid var(--stroke-color);
      border-radius: mixins.toRem(15);
      padding: mixins.toRem(13) mixins.toRem(20);
      outline: none;

      .loaded & {
        transition: all 0.3s ease 0s;
      }

      &._form-error {
        border-color: var(--red-color);
      }
    }

    textarea {
      resize: horizontal;
      min-height: mixins.toRem(165);
    }
  }

  &__error {
    position: absolute;
    left: 0;
    bottom: 0;
    white-space: nowrap;
    color: var(--red-color);
    font-size: mixins.toRem(14);
    line-height: 1.2;
    opacity: 0;

    ._form-error & {
      opacity: 1;
    }

    .loaded & {
      transition: all 0.3s ease 0.3s;
    }
  }

  &__viewpass {
    color: var(--grey-color);
    width: mixins.toRem(50);
    height: mixins.toRem(50);
    display: flex;
    justify-content:center;align-items: center;
    position: absolute;
    right: 0;
    top: mixins.toRem(25);
    cursor: pointer;

    svg {
      width: mixins.toRem(20);
      height: mixins.toRem(20);

      &:last-child{
        display: none;
      }
    }

    &._viewpass-active {
      color: var(--accent-color);

      svg {
        &:first-child{
          display: none;
        }
        &:last-child{
          display: block;
        }
      }
    }
  }

  &__boxwrap {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: mixins.toRem(8);

    @media (any-hover: hover){
      &:hover{
        &:has(input:checked) i {
          box-shadow: 0px 0px 0px 3px rgba(153, 153, 153, 0.3);
        }

        &:not(:has(input:checked)) i {
          box-shadow: 0px 0px 0px 3px rgba(0, 123, 255, 0.3);
        }
      }
    }

    input[type="checkbox"],
    input[type="radio"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      opacity: 0;

      &:checked ~ i {
        border-color: var(--accent-color);
        background-color: var(--accent-color);

        &::before{
          content:'';
          display: block;
          width: mixins.toRem(7);
          height: mixins.toRem(5);
          border-left: mixins.toRem(2) solid var(--white-color);
          border-bottom: mixins.toRem(2) solid var(--white-color);
          rotate: -45deg;
          translate: 0 mixins.toRem(-1);
        }
      }
    }

    &>i {
      width: mixins.toRem(16);
      height: mixins.toRem(16);
      border: mixins.toRem(1) solid var(--stroke-color);
      border-radius: mixins.toRem(4);
      position: relative;
      display: flex;
      justify-content:center;align-items: center;
      .loaded & {
        transition: all 0.3s ease 0s;
      }
    }
  }

  &__link {
    color: var(--accent-color);
    text-decoration: underline;

    @media (any-hover: hover){
      &:hover{
        text-decoration: none;
        color: var(--accent-hover-color);
      }
    }
  }

  &__submit {
    display: flex;
    justify-content:center;align-items: center;
    background-color: var(--accent-color);
    color: var(--white-color);
    padding: mixins.toRem(15);
    height: mixins.toRem(50);
    border-radius: mixins.toRem(15);
    font-weight: 600;
    line-height: 1.2;

    .loaded & {
      transition: all 0.3s ease 0s;
    }

    @media (any-hover: hover){
      &:hover{
        background-color: var(--accent-hover-color);
      }
    }
  }

  &__outlinebtn {
    display: flex;
    justify-content:center;align-items: center;
    padding: mixins.toRem(15);
    height: mixins.toRem(50);
    border-radius: mixins.toRem(15);
    font-weight: 600;
    line-height: 1.2;

    border: mixins.toRem(2) solid var(--accent-color);
    color: var(--accent-color);

    .loaded & {
      transition: all 0.3s ease 0s;
    }

    @media (any-hover: hover){
      &:hover{
        color: var(--white-color);
        border-color: var(--accent-hover-color);
        background-color: var(--accent-hover-color);
      }
    }
  }

  &__pininput {
    display: flex;
    gap: mixins.toRem(12);
  }

  &__hint {
    color: var(--grey-color);
    font-size: mixins.toRem(12);
    font-weight: 500;
  }
}

.popup__content:has(._sending) {
  --opacity: 0.7;
  @extend ._skeleton;
}

.pincode-input {
  height: mixins.toRem(50);
  border-radius: mixins.toRem(15);
  border: mixins.toRem(1) solid var(--stroke-color);
  text-align: center;
  outline: none;

  ._form-error & {
    border-color: var(--red-color);
  }
}

.breadcrumbs {
  @include mixins.adaptiveValue("padding-top", 30, 20, 1920, 480);
  @include mixins.adaptiveValue("padding-bottom", 30, 20, 1920, 480);

  &__container {
  }

  &__list {
  }

  &__item {
    display: inline-flex;
    gap: mixins.toRem(10);
    margin-right: mixins.toRem(10);
    font-size: mixins.toRem(12);
    color: var(--grey-color);
    .loaded & {
      transition: all 0.3s ease 0s;
    }
    &:has(a) {
      &::after{
        content:'»';
      }
      @media (any-hover: hover){
        &:hover{
          color: var(--black-color);
        }
      }
    }
  }
}

.pagehead {
  &:not(:last-child) {
    @include mixins.adaptiveValue("margin-bottom", 30, 20, 1280, 480);
  }

  &__container {
    display: flex;
    align-items: flex-end;
    gap: mixins.toRem(10);
  }

  &__title {
    font-weight: 500;
    line-height: 1.2;
    @include mixins.adaptiveValue("font-size", 35, 24, 1280, 480);
  }

  &__subtitle {
    font-weight: 500;
    line-height: 1.2;
    color: var(--grey-color);
    margin-bottom: 0.3%;

    @include mixins.adaptiveValue("font-size", 16, 13, 767, 480);
  }
}

summary {
  list-style: none;
}

.noUi {
  &-horizontal {
    height: mixins.toRem(4);
    border-radius: mixins.toRem(2);
    box-shadow: none;
    background: var(--stroke-color);
    border: none;
  }

  &-connect {
    background: var(--accent-color);
  }

  &-handle {
    .noUi-horizontal & {
      width: mixins.toRem(20);
      height: mixins.toRem(20);
      top: mixins.toRem(2);
      translate: 0 -50%;
      border-radius: 50%;
      border: none;
      box-shadow: none;
      cursor: pointer;
      background: var(--accent-color);
    }

    &::before,&::after{
      display: none;
    }
  }

  &-pips-horizontal {
    padding-top: 0;
    height: auto;
  }

  &-value {
    font-size: mixins.toRem(12);

    &-horizontal {
      transform: translate(-50%, 100%);
    }
  }

  &-marker-large {
    &.noUi-marker-horizontal {
      height: mixins.toRem(5);
    }
  }
}

.pagination {
  display: flex;
  gap: mixins.toRem(7);

  &__item {
    width: var(--sz);
    height: var(--sz);
    flex: 0 0 var(--sz);
    display: flex;
    justify-content:center;align-items: center;
    background-color: var(--plate-bg-color);
    border-radius: mixins.toRem(12);
    border: mixins.toRem(1) solid var(--plate-bg-color);
    font-weight: 500;
    line-height: math.div(24 , 16);
    cursor: default;

    @include mixins.adaptiveValue("--sz", 50, 44, 1920, 360, 2);

    @media (width < #{mixins.toEm(360)}){
      --sz: #{mixins.vw(40,360)};
    }

    .loaded & {
      transition: all 0.3s ease 0s;
    }

    &._disabled {
      pointer-events: none;
      color: var(--disabled-color);
    }

    &._active {
      pointer-events: none;
      border-color: var(--accent-color);
      background-color: var(--accent-color);
      color: var(--white-color);
    }

    &[href] {
      cursor: pointer;
      @media (any-hover: hover){
        &:hover{
          color: var(--accent-hover-color);
          border-color: var(--accent-hover-color);
        }
      }
    }

    &_arrow {
      &:first-child{
        margin-right: mixins.toRem(3);
      }
      &:last-child{
        margin-left: mixins.toRem(3);
      }
    }
  }
}

ul li {
  list-style: none;
}

._content {
  line-height: 1.4;

  ul {
    padding-left: mixins.toRem(17);

    li {
      list-style: initial;

      &:not(:last-child) {margin-bottom: mixins.toRem(5);}

      &::marker {
        color: var(--accent-color);
      }
    }
  }

  p {
    &:not(:last-child) {margin-bottom: mixins.toRem(10);}
  }
}