@use "sass:math";
@use "/src/scss/base/mixins.scss";
@use "/src/scss/variables.scss";

//==========================================================================================
.authPopup {

  &__content {
    max-width: mixins.toRem(520);
    padding: mixins.toRem(30);

    @media (width < #{mixins.toEm(variables.$mobileSmall)}){
      padding: mixins.toRem(60) mixins.toRem(15) mixins.toRem(30);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    &:not(:last-child) {margin-bottom: mixins.toRem(28);}
  }

  &__uptitle {
    color: var(--grey-color);
    font-size: mixins.toRem(13);
    line-height: math.div(18 , 13);
    &:not(:last-child) {margin-bottom: mixins.toRem(18);}

    a {
      color: var(--accent-color);
      text-decoration: underline;
    }
  }

  &__title {
    font-weight: 600;
    font-size: var(--font-size);
    letter-spacing: mixins.lsp(-3);
    --font-size: #{mixins.toRem(24)};
    line-height: math.div(34 , 24);
    text-align: center;
    &:not(:last-child) {margin-bottom: mixins.toRem(14);}
  }

  &__subtitle {
    text-align: center;
    color: var(--grey-color);
    font-size: mixins.toRem(14);
    line-height: math.div(20 , 14);
    &:not(:last-child) {margin-bottom: mixins.toRem(24);}

    a {
      color: var(--accent-color);
      text-decoration: underline;

      @media (any-hover: hover){
        &:hover{
          color: var(--accent-hover-color);
          text-decoration: none;
        }
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: mixins.toRem(12);
    align-self: stretch;
    &:not(:last-child) {margin-bottom: mixins.toRem(12);}
  }

  &__item {
  }

  &__text {
    line-height: math.div(22 , 16);
    text-align: center;
    &:not(:last-child) {margin-bottom: mixins.toRem(28);}
  }

  &__submit {
    align-self: stretch;
  }

  &__infotext {
    opacity: 0.7;
    color: var(--grey-color);
    font-weight: 300;
    font-size: mixins.toRem(14);
    line-height: math.div(20 , 14);
    &:not(:last-child) {margin-bottom: mixins.toRem(20);}
  }

  &__or {
    display: flex;
    justify-content:center;align-items: center;
    align-self: stretch;
    position: relative;

    &:not(:last-child) {margin-bottom: mixins.toRem(20);}

    &::before{
      content:'';
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: mixins.toRem(1);
      background-color: var(--grey-color);
      opacity: 0.2;
    }

    span {
      background-color: var(--white-color);
      position: relative;
      padding: 0 mixins.toRem(20);
      color: var(--grey-color-50);
      line-height: math.div(22 , 16);
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: mixins.toRem(12);
    align-self: stretch;
  }

  &__yandex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: mixins.toRem(50);
    background-color: var(--black-color);
    color: var(--white-color);
    padding: mixins.toRem(10) mixins.toRem(12);
    border-radius: mixins.toRem(15);

    i {
      --default-bgi: url("data:image/svg+xml,%3Csvg width='44' height='44' viewBox='0 0 44 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='44' height='44' fill='%23FC3F1D'/%3E%3Cpath d='M24.7407 33.9778H29.0889V9.04443H22.7592C16.3929 9.04443 13.0538 12.303 13.0538 17.1176C13.0538 21.2731 15.2187 23.6163 19.0532 26.1609L21.3832 27.6987L18.3927 25.1907L12.4667 33.9778H17.1818L23.5115 24.5317L21.3098 23.0671C18.6496 21.2731 17.3469 19.8818 17.3469 16.8613C17.3469 14.2068 19.2183 12.4128 22.7776 12.4128H24.7223V33.9778H24.7407Z' fill='white'/%3E%3C/svg%3E%0A");
      flex: 0 0 mixins.toRem(24);
      width: mixins.toRem(24);
      height: mixins.toRem(24);
      border-radius: 50%;
      background-image: var(--bgi, var(--default-bgi));
      background-position: center;
      background-size: contain;
    }
  }

  &__button {
    display: flex;
    justify-content:center;align-items: center;
    gap: mixins.toRem(10);
    height: mixins.toRem(50);
    border-radius: mixins.toRem(15);
    border: mixins.toRem(1) solid var(--stroke-color);
    line-height: math.div(22 , 16);
    font-weight: 600;
  }

  &__link {
    display: block;
    font-size: mixins.toRem(14);
    width: 100%;
    text-align: center;
    color: var(--accent-color);
    text-decoration: underline;

    @media (any-hover: hover){
      &:hover{
        color: var(--accent-hover-color);
        text-decoration: none;
      }
    }
  }
}
